<!DOCTYPE html>
<html lang="en">
{% load static %}


 <head>
     <title>Clasificador de articulos</title>
       <link rel="stylesheet" href="/static/classifier_interface/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

 </head>

<body>
    {% include "classifier_interface/navbar.html" %}
    <div class="col d-flex justify-content-center">
        <div class="card text-center w-75">
            <div class="card-body">
                <div class="container-md mb-4" align="center">
                    <div class="row">
                        <h2>{{article.filename}}</h2>
                    </div>
                    <div class="row" align="left">
                        <h3>
                            <small class="text-muted">{{article.extraction_date}}</small>
                        </h3>
                    </div>
                    <div class="row" align="center">
                        <div class="col-sm-6" align="left">
                            <form method="post">
                                <small class="text-muted">Clasificar</small>
                                <select class="form-select-sm" id="user_classification" aria-label="Default select example">
                                  <option selected>Seleccionar clasificacion</option>
                                  <option value=no>Sin problemas</option>
                                  <option value=yes>Con problemas</option>
                                </select>
                            </form>
                        </div>
                         <div class="col-sm-6" align="right">
                             <div class="content">
                                 <h3>
                                <span style="font-size:0.8em" class="text-muted">{{article.paper}}</span>
                                </h3>
                             </div>

                         </div>
                    </div>
                    <div class="row" align="center">
                        <div class="container">
                            <p  class="font-weight-light text-justify">
                               {{article.article_content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </body>

</html>

