<!DOCTYPE html>
<html lang="en">
{% load static %}


 <head>
     <title>Clasificador de articulos</title>
       <link rel="stylesheet" href="/static/classifier_interface/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

 </head>

<body>
    {% include "classifier_interface/navbar.html" %}
    <div class="col d-flex justify-content-center">
        <div class="card text-center w-75">

           <div class="card-body">
               <div style="align-items: center;" class="row " >
                    <div class="col-md-10" align="center">
                        <input type="text" class="form-control" style="margin:10px;">
                    </div>
                   <div class="col-md-1" align="center">
                       <button class="input-group-text">Buscar</button>
                    </div>
                   <div class="col-md-1" align="center">
                       <button class="input-group-text">Filtrar</button>
                    </div>
               </div>
            <div class="row">
            <div class="col-md-12" align="center">
                <div class="table-responsive">
                    {% if article_list %}
                    <ul>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                  <th scope="col">Fecha</th>
                                  <th scope="col">Titulo del articulo</th>
                                  <th scope="col">Contenido</th>
                                  <th scope="col">Periodico</th>
                                </tr>
                            </thead>

                             <tbody class="table-group-divider">
                              {% for article in article_list %}
                                <tr>
                                  <td><a href="/classifier_interface/{{ article.id }}/">{{article.pub_date}}</a></td>
                                  <td><a href="/classifier_interface/{{ article.id }}/">{{article.title}}</a></td>
                                  <td><a href="/classifier_interface/{{ article.id }}/">{{article.content}}</a></td>
                                  <td><a href="/classifier_interface/{{ article.id }}/">{{article.paper}}</a></td>
                                </tr>
                              {% endfor %}
                             </tbody>

                        </table>

                    </ul>
                    {% else %}
                        <p>No articles available.</p>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>

 </body>

</html>