.bck-color {
    background-color: #5FC5F2;
    height: 200px;
    padding: 55px 25px;
    margin-top:0%;
    position: relative !important;
 }
.nav-color{
    background-color: #5FC5F2;
    margin-bottom: 0%; !important
}

.logo{
    margin-left: 30px;
}
.navbar-header> a{
      margin-left: ($spacer * .25) !important;
}

.table{
    padding-left = 0px !important;
}
.col{
    z-index:1;
    position: relative !important;
}
td>a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}

.input.form-control {
    border-radius: 0 0 0 0;
}
.input.form-control:focus {
    box-shadow: none;
}
.datepicker-dropdown {
    box-shadow: 0 5px 10px;
}
.datepicker{
 margin-bottom: 3rem;
}
mb-4 {
    margin-block-start: 15px !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}